---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    With broad research interests in algorithmic game theory and (computational) social choice theory, I am more
 specifically drawn to problems related to the fair allocation of resources, voting systems, participatory budgeting,
 and the price of anarchy. Using my strong foundations in economics and development studies, along with my
 background in game theory and algorithmic graph theory, I aim to contribute to developing fair and efficient
 mechanisms that address critical societal challenges in an interdisciplinary manner. My motivation is grounded
 in finding a way to contribute to and apply theoretical research in policy-making and other decision-making
 processes.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BS-MS Dual Degree"
      subtitle="[2021] to [2021] at [Indian Institute of Science Education and Research], [Pune], [India]"
    />
    <TimeLineElement
      title=" Higher Secondary (SSCE), Science stream (PCBM)"
      subtitle="[2019] to [2021] at [Birla Public School], [Doha], [Qatar]"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Master’s Thesis"
      subtitle="From [2025.05] to [expected 2026.04] at [IISc, Bangalore] and [Penn State University, Pennsylvania]"
    >
       Under the joint supervision of Prof. Siddharth Barman (IISc, Bangalore), Prof. Hadi Hosseini (PSU, Pennsylvania), and Prof. Erel Segal-Halevi (Ariel University, Ariel). Working on the fair allocation of indivisibe chores in constrained settings.
    </TimeLineElement>
    <TimeLineElement
      title="Reading Project"
      subtitle="From [2025.01] to [2025.04] "
    >
      Completed a semester-long reading project under the mentorship of Prof. Sushmita Gupta, IMSc Chennai, focusing on literature in fair allocation and presenting the readings to the group.
    </TimeLineElement>

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conferences and schools</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
       Foundations of Software Technology and Theoretical Computer Science (FSTTCS’24), IIT Gandhinagar, 2024
    </li>
    <li>
        School on Computation in Social Choice and Economics, IIT Jodhpur, 2024
    </li>
    <li>
         Theory CS Winter School, IISc Bangalore, 2024
    </li>
    <li>
         CS Theory Winter Residency Program, IIT Delhi, 2024
    </li>
    <li>
      ACM Summer School: NP-completeness approach to algorithms, PSG College of Technology, Coimbatore, 2024
    </li>
    <li>
      ACM Summer School: Introduction to algorithmic game theory, IMSc Chennai, 2024
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Relevant Courses</div>
  </div>

  <ul class="list-disc md:columns-2 columns-3 mx-4">
    <li> Algorithms</li>
    <li> Introduction to Graph Algorithms</li>
    <li> Graph Theory </li>
    <li> Markov Chain and its Application </li>
    <li> Economics and Public Policy </li>
    <li> Discrete Structures </li>
    <li> Introduction to  Probability </li>
   </ul>

<div class="flex justify-center mt-12 mb-16">
  <a 
    href="/Authisha_T_S_CV.pdf" 
    download="Authisha_Selvam_CV.pdf" 
    class="px-4 py-2 bg-blue-600 text-white rounded-lg shadow-lg hover:bg-blue-700 transition"
  >
    📄 Download CV
  </a>
</div>
  
</BaseLayout>
