---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there!</div>
    <div class="text-5xl font-bold">I'm Authisha</div>
    <div class="text-3xl py-3 font-bold">BS-MS IISER Pune</div>
    <div class="py-2">
      <text class="text-lg">
        <p>I am a 5th-year student, completing my Master’s thesis jointly at IISc and Penn State University under the supervision of Prof. Siddharth Barman and Prof. Hadi Hosseini. Another important contributor to my thesis is Prof. Erel Segal-Halevi. Currently, I am working on the fair division of indivisible resources, combining discrete mathematics with theoretical computer science. My research interests lie in algorithmic game theory, computational social choice, and collective decision-making.</p> 
       <p>I aim to develop fair and efficient mechanisms that address critical societal challenges
 in an interdisciplinary manner. My motivation is grounded in finding a way to contribute to and apply theoretical computational research in policy-making and other decision-making processes.</p>
        
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/authisha-thirumani-selvam" target="_blank"> Let's connect!</a>
      <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div>
  </div>

  <!--<div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
-->
<div>
  <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
</div>

{
  last_posts
    // Filter out posts marked as draft
    .filter((post) => !post.data.draft)
    .map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
}

</BaseLayout>
